# fastapi==0.111.0
fastapi==0.119.1
uvicorn[standard]==0.30.0
pydantic==2.7.1
requests==2.32.3
cachetools==5.3.3
python-dotenv==1.0.1
SQLAlchemy==2.0.32
psycopg2-binary==2.9.9
alembic==1.13.2
redis==5.0.7
cachetools==5.3.3